.add {
    text-align: right;
    cursor : pointer;
    display: flex;
    align-items: center;
}
.add1 {
   
    cursor : pointer;
    width: 40px;
    height: 40px;
    

    
}
.add2  {
  cursor : pointer;
  
  /* align-items: center; */

}

.iconManager {
    vertical-align: middle;
  }
  .grid {
    background-color: #cccccc;
    border-top-right-radius: 20px;
    border: groove;
  }

  .menu{
    size:20px;
    color: blue;
    margin-left: 15%;
  }
  .point{
    background-color: rgb(250, 250, 251);
    size: 15px;
  }

